<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    

  <script async type="module" crossorigin src="/mkidea-landing/app/public/footer.component.46d12b7b.js"></script>
  <link rel="stylesheet" href="/mkidea-landing/app/public/footer.49c42d21.css">
</head>
<body>
<header-component></header-component>
<div class="about-container">
    <div class="about-header">
        <div class="about-team-text">
          <h3 class="team-title">We are MKIDEA Team</h3>
          <p class="team-text">MKidea is a Spanish company created by 6 Junior Developers with the purpose of
          <br>helping developers and product owners to build project together</br>
          <br>in a much faster, organized and easier way </br>
          </p>
        </div>
        <div class="header-image-container">
          <img src="/mkidea-landing/img/aboutusteam.jpg" class="about-image" alt="about-image" />
        </div>
    </div>
  <div class="about-carrousel">
    <div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
      <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
        <div class="carousel-inner relative w-full overflow-hidden">
          <div class="carousel-item active relative float-left w-full">
            <img src="/mkidea-landing/img/presentacion-1.jpg" class="block w-full carrousel-image object-cover"  alt="..."/>
            <div class="carousel-caption carousel-box hidden md:block absolute text-center rounded-xl">
              <h5 class="text-xl">Comunicación</h5>
              <p class="carousel-text">Ofrecemos un sistema eficiente y dinámico de comunicarte con el mundo de los desarrolladores</p>
            </div>
          </div>
          <div class="carousel-item relative float-left w-full">
            <img src="/mkidea-landing/img/presentacion-2.jpg" class="block w-full carrousel-image" alt="..."/>
              <div class="carousel-caption carousel-box hidden md:block absolute text-center rounded-xl ">
                <h5 class="text-xl">Organización</h5>
                <p class="carousel-text">Nuestras herramientas os permitirá estructurar de manera rápida y sencilla</p>
              </div>
          </div>
          <div class="carousel-item relative float-left w-full">
            <img src="/mkidea-landing/img/presentacion-3.jpg" class="block w-full carrousel-image" alt="..."/>
              <div class="carousel-caption carousel-box hidden md:block absolute text-center rounded-xl ">
                <h5 class="text-xl ">Relleno 3</h5>
                <p class="carousel-text">Aquí iría el Trello que hemos deshechado.</p>
              </div>
          </div>
        </div>
          <button class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
    </div>
  </div>
  <div class="team-section">
    <div class="leadership-team">
      <h3 class="title-primary">Leadership Team</h3>
    </div> 
    <div class="about-cards">
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member1.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/romer-alvarez-martinez/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Romer Álvarez</p>
          </div>
        </div>
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member2.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/jose-corzo-56a0201a8/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Jose Corzo</p>
          </div>
        </div>
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member3.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/judith-dominguez/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Judith Domínguez</p>
          </div>
        </div>
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member4.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/ian-rio-oliva/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Bryan Juela</p>
          </div>
        </div>
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member5.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/ian-rio-oliva/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Eduardo Pérez</p>
          </div>
        </div>
        <div class="member-card">
          <div class="card-image">
            <img src="/mkidea-landing/img/member6.jpg" class="member-image" alt="member-image">
          </div>
          <div class="card-text">
            <a href="https://www.linkedin.com/in/ian-rio-oliva/"><img src="/mkidea-landing/img/linkedin-icon.svg" width="30"> </a><p>Ian Río</p>
          </div>
        </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
</body>
</html>